body {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.body-night {
  background: url("../images/body-night.jpg");
  background-repeat: no-repeat;
}

.body-day {
  background: url("../images/body-day.jpg");
  background-repeat: no-repeat;
}

.weather-app-container {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 45px 25px 50px;
  border-radius: 25mm;
  background: url("../images/container-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 2px 8px #3a3939f1;
}

.form-wrapper {
  margin: 0 200px;
}

.search-container {
  width: 100%;
}

#enter-city {
  padding: 8px;
  border: 0.3mm solid #e7e5e5;
  border-radius: 4mm;
  box-shadow: 1px 1px 3px #676767f1;
}

#enter-city:focus {
  border-color: #74bdc8b6;
  box-shadow: 0 1px 1px #83cbcbda inset, 0 1px 6px #7de2e2b3;
}

.btn {
  padding: 8px 14px;
  border-radius: 4mm;
  font-size: 15px;
  box-shadow: 1px 2px 3px #54545466;
}

#btn-search {
  background-color: #63e0e0e5;
}

#btn-current {
  background-color: #cbf5f5;
}

.current-city-container {
  margin: 25px 100px 10px;
  padding: 30px 16px 35px;
  background: linear-gradient(to top, #dcdfe2 0%, #ece9e9 100%);
  box-shadow: 1px 2px 3px #424141;
}

.main-heading {
  margin-top: 8px;
  font-size: 52px;
  line-height: 1.5;
  word-wrap: break-word;
}

.sub-heading {
  color: #686767;
}

.humidity-wind-container {
  margin: 0 195px;
  padding-left: 12px;
  border-radius: 3mm;
  background-color: #f1ebebfb;
  box-shadow: 1px 2px 3px #444444fd;
}

.forecast-container {
  margin: 15px 175px 9px;
  padding: 5px 20px;
  background-color: #e0dfdfee;
  box-shadow: 1px 2px 5px #474747;
}

.forecast-temp-range-max {
  font-weight: bold;
}

.forecast-temp-range-min {
  color: #686767;
}

#unit {
  font-size: 30px;
}

#description {
  display: inline-block;
}

#description::first-letter {
  text-transform: capitalize;
}

#current-weather-icon {
  max-width: 63px;
  margin-bottom: 5px;
  width: 50px;
}

a,
p {
  font-size: 12px;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

p {
  color: #EC6E4C;
}

.humidity-wind-container,
#enter-city {
  font-size: 14px;
}

.forecast-container,
.sub-heading {
  font-size: 16px;
}

.current-city-container,
.forecast-container {
  border-radius: 5mm;
}

#humidity-text,
#wind-text {
  color: #686767;
}

.humidity-icon,
.wind-icon {
  color: #474646b3;
}

@media (max-width: 880px) {
  .weather-app-container {
    margin: 35px 10px 0;
  }

  .form-wrapper {
    margin: 0 100px;
  }

  .search-container {
    width: 70%;
  }

  .btn {
    padding: 10px 20px;
    font-size: 16px;
  }

  #enter-city {
    font-size: 16px;
  }

  .current-city-container {
    width: auto;
    height: auto;
    padding: 25px 5px 15px;
  }

  .main-heading {
    font-size: 46px;
  }

  .sub-heading {
    font-size: 15px;
  }

  .humidity-wind-container {
    display: none;
  }

  .forecast-container {
    margin: 15px 130px 9px;
  }
}

@media (max-width: 770px) {
  #btn-search {
    margin: 10px 0 15px;
  }

  .search-container {
    width: 60%;
  }

  .current-city-container {
    margin: 15px 20px;
  }

  .forecast-container {
    width: auto;
    height: auto;
    margin: 15px 65px 9px;
    font-size: 20px;
  }

  .forecast-temp-range {
    margin-bottom: 10px;
  }
}

@media (max-width: 450px) {
  .weather-app-container {
    margin-top: 10px;
    padding: 30px 0 25px;
  }

  .form-wrapper {
    margin: 0;
  }

  .current-city-container {
    margin: 15px 10px;
  }

  .main-heading {
    font-size: 35px;
  }

  .sub-heading {
    font-size: 14px;
  }

  .forecast-container {
    margin: 15px 50px 9px;
    font-size: 16px;
  }

  .forecast-days {
    margin-top: 10px;
  }

  .forecast-temp-range {
    margin-bottom: 15px;
  }
}