body {
  background: url("../images/sky.jpg");
}

a {
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

p {
  color: #63e0e0e5;
  font-size: 14px;
}

.body-night {
  background: url("../images/body-night.jpg");
}

.body-day {
  background: url("../images/body-day.jpg");
}

.container {
  max-width: 985px;
  margin: 0 auto;
  text-align: center;
}

.weather-app {
  margin-top: 100px;
  padding: 45px 25px 50px;
  border-radius: 25mm;
  box-shadow: 1px 1px 10px #222121f1;
  background: url("../images/container-image.jpg");
  font-family: "Roboto", sans-serif;
}

.input-city-container {
  max-width: 350px;
  margin: 10px auto 30px;
}

.units-container {
  margin-right: 288px;
  padding: 1px 5px;
  font-size: large;
  background-color: #f0f8ff8c;
  border-radius: 1mm;
  box-shadow: 1px 2px 3px #32323266;
}

.current-city-container {
  max-width: 630px;
  margin: 25px auto 10px;
  padding: 30px 16px 35px;
  border-radius: 5mm;
  box-shadow: 1px 2px 3px #424141;
  background: linear-gradient(to top, #dadcdfc2 0%, #ece9e9 100%);
}

.main-heading {
  position: relative;
  left: 15px;
  word-wrap: break-word;
  font-size: 52px;
  line-height: 85px;
}

.sub-heading {
  font-size: 16px;
}

.other-factors {
  margin: 0 210px;
  margin-top: 20px;
  padding-left: 12px;
  border-radius: 3mm;
  box-shadow: 1px 2px 3px #7a7979;
  background-color: #f1ebebfb;
  font-size: 14px;
}

.other-factors-emojis {
  color: rgba(43, 42, 42, 0.7);
}

.future-forecast-container {
  margin: 15px 195px 9px;
  padding: 2px 20px;
  border-radius: 5mm;
  box-shadow: 1px 2px 5px #474747;
  background-color: #e0dfdfee;
  font-size: 16px;
}

#enter-city {
  padding: 8px;
  border: 0.3mm solid #e7e5e5;
  border-radius: 4mm;
  box-shadow: 1px 1px 3px #464646f1;
  font-size: 14px;
}

#enter-city:focus {
  border-color: #74bdc8b6;
  box-shadow: 0 1px 1px #83cbcbda inset, 0 1px 6px #7de2e2b3;
}

#btn-search {
  position: relative;
  top: 2px;
  right: 20px;
  background-color: #63e0e0e5;
  border-radius: 4mm;
  box-shadow: 1px 2px 3px #32323266;
  font-size: 15px;
}

#btn-current {
  position: relative;
  top: 2px;
  right: 6px;
  background-color: #cbf5f5;
  border-radius: 4mm;
  box-shadow: 1px 2px 3px #32323266;
  font-size: 15px;
}

#celsius-link {
  color: #0f8080;
}

#fahrenheit-link {
  color: #0f8080;
}

#unit {
  position: relative;
  bottom: 15px;
  right: 12px;
  font-size: 32px;
}

#description {
  text-transform: capitalize;
}

#current-weather-emoji {
  font-size: 22px;
  color: #094985;
}

#future-weather-emojis {
  font-size: 40px;
  color: #ffd500;
}

#future-temp-range {
  position: relative;
  left: 2px;
}

#open-source {
  font-size: 14px;
}
